---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Reserva tu mesa en Casa de Andalucía'>
	<Header />
    <section>
        <h1>Reservar</h1>
        <p>¿Quieres asegurarte un sitio en Casa de Andalucía? Reserva tu mesa con antelación y disfruta de nuestro ambiente único, buen trato y las mejores noches de música en vivo. Llámanos y te guardamos tu lugar.</p>
        <span><a href="tel:+34 611 54 91 39">+34 611 54 91 39</a></span>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3061.4537777066234!2d4.259741828086427!3d39.88647151411761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12958799dedfc2bd%3A0xa13cf81df98e7ac7!2sCasa%20de%20Andaluc%C3%ADa%20Menorca!5e0!3m2!1ses!2ses!4v1743171471203!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></section>
	<Footer />
</Layout>

<style>
    section {
        min-height: calc(100vh - 510px);
        margin-bottom: 100px;
    }

    h1 {
        text-align: center;
        font-size: 3rem;
        margin-top: 200px;
        color: #36392D;
        font-weight: 800;
        width: 100%;
        text-align: center;
    }

    p {
        width: 600px;
        max-width: 90%;
        margin: auto;
        text-align: center;
        line-height: 1.5rem;
        margin-top: 0;
    }

    span {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 10px 20px;
        background-color: #36392D;
        color: white;
        border-radius: 20px;
        display: block;
        margin: auto;
        width: fit-content;
        margin-top: 30px;
        cursor: pointer;
        transition: all 0.2s;
        margin-bottom: -20px;
    }

    span a {
        color: white;
        text-decoration: none;
    }

    span:hover {
        padding: 10px 25px;
    }

    iframe {
        width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 400px;
        margin-top: 50px;
        max-width: 95%;
    }

</style>