<header>
    <div>
        <ul class="first-list">
            <li><a href="/">Inicio</a></li>
            <li><a href="#equipo">Equipo</a></li>
            <li><a href="#menu">Menú</a></li>
        </ul>
        <a href="/"><img src="/logo.webp" alt="logo"></a>
        <ul>
            <li><a href="/reservar">Reservar</a></li>
        </ul>    
    </div>
</header>

<style>
    header {
        position: fixed;
        width: 100%;
        height: 90px;
        backdrop-filter: blur(10px);
        background-color: #0007;
        z-index: 1000;
        top: 0;
    }

    div {
        width: 90%;
        height: 100%;
        max-width: 1500px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    .first-list {
        display: flex;
        align-items: left;
        padding-inline-start: 0;
        gap: 50px;
    }

    header img {
        height: 150px;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: 600;
    }

    a:hover {
        text-decoration: underline;
    }

    @media screen and (max-width: 950px) {
        .first-list {
            display: none;
        }
    }
</style>