<header>
    <div>
        <h1>Casa de Andalucía.</h1>
        <h2>Tapas, bocadillos y buen rollo.</h2>    
    </div>
</header>

<style>
    header {
        background-image: url('/background.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
    }

    header div {
        width: 90%;
        margin: auto;
        max-width: 1500px;
    }

    h2, h1 {
        font-size: 4rem;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
        color: #fff;
    }

    @media screen and (max-width: 950px) {
        p {
            font-size: 3rem;
        }
    }

    @media screen and (max-width: 650px) {
        p {
            font-size: 2rem;
        }
    }
</style>