<header>
    <div>
        <p>Hecho por Menorquines.</p>
        <p>Disfrutado por Todos.</p>    
    </div>
</header>

<style>
    header {
        background-image: url('/background.webp');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
    }

    header div {
        width: 90%;
        margin: auto;
        max-width: 1500px;
    }

    p {
        font-size: 4rem;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
        color: #fff;
    }
</style>