<section id="menu">
    <h2>Menú</h2>
    <p>Lacus lobortis nullam nam consectetur fermentum mattis pellentesque id nulla. Risus convallis iaculis risus ac aliquam sit ultricies. Adipiscing adipiscing pellentesque tincidunt vitae. Aliquam dolor egestas nam congue elit dolor.</p>
    <div class="options">
        <span>Apertivos</span>
        <span>Pasta</span>
        <span>Pizza</span>
        <span>Ensaladas</span>
        <span>Postres</span>
    </div>
    <div class="menu aperitivos">
        <svg class="left-arrow" width="64" height="64" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x=".5" y=".5" width="63" height="63" rx="31.5" stroke="#36392D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M27.108 28.252a.712.712 0 0 1-.086.994l-2.409 2.048h16.69c.385 0 .697.316.697.706 0 .39-.312.706-.698.706H24.613l2.41 2.048c.294.25.333.696.085.994a.692.692 0 0 1-.983.087l-3.866-3.286a.717.717 0 0 1-.248-.426.723.723 0 0 1 .056-.426.706.706 0 0 1 .192-.246l3.866-3.286a.692.692 0 0 1 .983.087Zm-4.875 4.275a.787.787 0 0 0 .02.017l-.02-.017Z" fill="#36392D"/></svg>
        <div class="container-content">
            <div class="content">
                <span>
                    <img src="menu/aperitivo-1.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/aperitivo-2.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/aperitivo-3.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/aperitivo-4.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/aperitivo-5.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/aperitivo-6.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
            </div>    
        </div>
        <svg class="right-arrow" width="64" height="64" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x=".5" y=".5" width="63" height="63" rx="31.5" stroke="#36392D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M27.108 28.252a.712.712 0 0 1-.086.994l-2.409 2.048h16.69c.385 0 .697.316.697.706 0 .39-.312.706-.698.706H24.613l2.41 2.048c.294.25.333.696.085.994a.692.692 0 0 1-.983.087l-3.866-3.286a.717.717 0 0 1-.248-.426.723.723 0 0 1 .056-.426.706.706 0 0 1 .192-.246l3.866-3.286a.692.692 0 0 1 .983.087Zm-4.875 4.275a.787.787 0 0 0 .02.017l-.02-.017Z" fill="#36392D"/></svg>
    </div>
    <div class="menu pasta" style="display: none;">
        <svg class="left-arrow" width="64" height="64" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x=".5" y=".5" width="63" height="63" rx="31.5" stroke="#36392D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M27.108 28.252a.712.712 0 0 1-.086.994l-2.409 2.048h16.69c.385 0 .697.316.697.706 0 .39-.312.706-.698.706H24.613l2.41 2.048c.294.25.333.696.085.994a.692.692 0 0 1-.983.087l-3.866-3.286a.717.717 0 0 1-.248-.426.723.723 0 0 1 .056-.426.706.706 0 0 1 .192-.246l3.866-3.286a.692.692 0 0 1 .983.087Zm-4.875 4.275a.787.787 0 0 0 .02.017l-.02-.017Z" fill="#36392D"/></svg>
        <div class="container-content">
            <div class="content">
                <span>
                    <img src="menu/pasta-1.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/pasta-2.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/pasta-3.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/pasta-4.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/pasta-5.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/pasta-6.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
            </div>    
        </div>
        <svg class="right-arrow" width="64" height="64" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x=".5" y=".5" width="63" height="63" rx="31.5" stroke="#36392D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M27.108 28.252a.712.712 0 0 1-.086.994l-2.409 2.048h16.69c.385 0 .697.316.697.706 0 .39-.312.706-.698.706H24.613l2.41 2.048c.294.25.333.696.085.994a.692.692 0 0 1-.983.087l-3.866-3.286a.717.717 0 0 1-.248-.426.723.723 0 0 1 .056-.426.706.706 0 0 1 .192-.246l3.866-3.286a.692.692 0 0 1 .983.087Zm-4.875 4.275a.787.787 0 0 0 .02.017l-.02-.017Z" fill="#36392D"/></svg>
    </div>
    <div class="menu pizza" style="display: none;">
        <svg class="left-arrow" width="64" height="64" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x=".5" y=".5" width="63" height="63" rx="31.5" stroke="#36392D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M27.108 28.252a.712.712 0 0 1-.086.994l-2.409 2.048h16.69c.385 0 .697.316.697.706 0 .39-.312.706-.698.706H24.613l2.41 2.048c.294.25.333.696.085.994a.692.692 0 0 1-.983.087l-3.866-3.286a.717.717 0 0 1-.248-.426.723.723 0 0 1 .056-.426.706.706 0 0 1 .192-.246l3.866-3.286a.692.692 0 0 1 .983.087Zm-4.875 4.275a.787.787 0 0 0 .02.017l-.02-.017Z" fill="#36392D"/></svg>
        <div class="container-content">
            <div class="content">
                <span>
                    <img src="menu/pizza-1.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/pizza-2.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/pizza-3.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/pizza-4.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/pizza-5.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/pizza-6.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
            </div>    
        </div>
        <svg class="right-arrow" width="64" height="64" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x=".5" y=".5" width="63" height="63" rx="31.5" stroke="#36392D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M27.108 28.252a.712.712 0 0 1-.086.994l-2.409 2.048h16.69c.385 0 .697.316.697.706 0 .39-.312.706-.698.706H24.613l2.41 2.048c.294.25.333.696.085.994a.692.692 0 0 1-.983.087l-3.866-3.286a.717.717 0 0 1-.248-.426.723.723 0 0 1 .056-.426.706.706 0 0 1 .192-.246l3.866-3.286a.692.692 0 0 1 .983.087Zm-4.875 4.275a.787.787 0 0 0 .02.017l-.02-.017Z" fill="#36392D"/></svg>
    </div>
    <div class="menu ensaladas" style="display: none;">
        <svg class="left-arrow" width="64" height="64" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x=".5" y=".5" width="63" height="63" rx="31.5" stroke="#36392D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M27.108 28.252a.712.712 0 0 1-.086.994l-2.409 2.048h16.69c.385 0 .697.316.697.706 0 .39-.312.706-.698.706H24.613l2.41 2.048c.294.25.333.696.085.994a.692.692 0 0 1-.983.087l-3.866-3.286a.717.717 0 0 1-.248-.426.723.723 0 0 1 .056-.426.706.706 0 0 1 .192-.246l3.866-3.286a.692.692 0 0 1 .983.087Zm-4.875 4.275a.787.787 0 0 0 .02.017l-.02-.017Z" fill="#36392D"/></svg>
        <div class="container-content">
            <div class="content">
                <span>
                    <img src="menu/ensalada-1.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/ensalada-2.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/ensalada-3.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/ensalada-4.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/ensalada-5.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/ensalada-6.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
            </div>    
        </div>
        <svg class="right-arrow" width="64" height="64" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x=".5" y=".5" width="63" height="63" rx="31.5" stroke="#36392D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M27.108 28.252a.712.712 0 0 1-.086.994l-2.409 2.048h16.69c.385 0 .697.316.697.706 0 .39-.312.706-.698.706H24.613l2.41 2.048c.294.25.333.696.085.994a.692.692 0 0 1-.983.087l-3.866-3.286a.717.717 0 0 1-.248-.426.723.723 0 0 1 .056-.426.706.706 0 0 1 .192-.246l3.866-3.286a.692.692 0 0 1 .983.087Zm-4.875 4.275a.787.787 0 0 0 .02.017l-.02-.017Z" fill="#36392D"/></svg>
    </div>
    <div class="menu postres" style="display: none;">
        <svg class="left-arrow" width="64" height="64" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x=".5" y=".5" width="63" height="63" rx="31.5" stroke="#36392D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M27.108 28.252a.712.712 0 0 1-.086.994l-2.409 2.048h16.69c.385 0 .697.316.697.706 0 .39-.312.706-.698.706H24.613l2.41 2.048c.294.25.333.696.085.994a.692.692 0 0 1-.983.087l-3.866-3.286a.717.717 0 0 1-.248-.426.723.723 0 0 1 .056-.426.706.706 0 0 1 .192-.246l3.866-3.286a.692.692 0 0 1 .983.087Zm-4.875 4.275a.787.787 0 0 0 .02.017l-.02-.017Z" fill="#36392D"/></svg>
        <div class="container-content">
            <div class="content">
                <span>
                    <img src="menu/postre-1.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/postre-2.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/postre-3.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/postre-4.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/postre-5.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
                <span>
                    <img src="menu/postre-6.webp" alt="aperitivo">
                    <p class="name">Tostadas con tomate</p>
                    <p class="price">5€</p>
                </span>
            </div>    
        </div>
        <svg class="right-arrow" width="64" height="64" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x=".5" y=".5" width="63" height="63" rx="31.5" stroke="#36392D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M27.108 28.252a.712.712 0 0 1-.086.994l-2.409 2.048h16.69c.385 0 .697.316.697.706 0 .39-.312.706-.698.706H24.613l2.41 2.048c.294.25.333.696.085.994a.692.692 0 0 1-.983.087l-3.866-3.286a.717.717 0 0 1-.248-.426.723.723 0 0 1 .056-.426.706.706 0 0 1 .192-.246l3.866-3.286a.692.692 0 0 1 .983.087Zm-4.875 4.275a.787.787 0 0 0 .02.017l-.02-.017Z" fill="#36392D"/></svg>
    </div>

</section>

<script>
document.addEventListener("DOMContentLoaded", function () {
    // Funcionalidad para el menú
    function setupMenuCarousel(menuContainer: HTMLElement): void {
        const menu: HTMLElement = menuContainer.querySelector(".content") as HTMLElement;
        const menuItems: HTMLElement[] = Array.from(menu.children) as HTMLElement[];
        
        // Recalcular ancho después de asegurarnos que el elemento está visible
        const menuItemWidth: number = menuItems[0].offsetWidth + 20;

        function moveMenu(forward: boolean = true): void {
            menu.style.transition = "transform 0.5s ease-in-out";
            menu.style.transform = `translateX(${forward ? '-' : ''}${menuItemWidth}px)`;

            setTimeout(() => {
                menu.style.transition = "none";
                if (forward) {
                    menu.appendChild(menuItems[0]);
                    menuItems.push(menuItems.shift()!);
                } else {
                    menu.prepend(menuItems[menuItems.length - 1]);
                    menuItems.unshift(menuItems.pop()!);
                }
                menu.style.transform = "translateX(0)";
            }, 500);
        }

        const menuLeftArrow: HTMLElement | null = menuContainer.querySelector(".left-arrow");
        const menuRightArrow: HTMLElement | null = menuContainer.querySelector(".right-arrow");

        // Limpiar los event listeners anteriores (si existen)
        const newMenuLeftArrow = menuLeftArrow?.cloneNode(true);
        const newMenuRightArrow = menuRightArrow?.cloneNode(true);
        
        if (menuLeftArrow && newMenuLeftArrow) {
            menuLeftArrow.parentNode?.replaceChild(newMenuLeftArrow, menuLeftArrow);
            newMenuLeftArrow.addEventListener("click", () => moveMenu(false));
        }
        
        if (menuRightArrow && newMenuRightArrow) {
            menuRightArrow.parentNode?.replaceChild(newMenuRightArrow, menuRightArrow);
            newMenuRightArrow.addEventListener("click", () => moveMenu(true));
        }
    }

    // Seleccionar todos los elementos span de opciones
    const optionButtons: NodeListOf<HTMLElement> = document.querySelectorAll('.options span');
    
    // Seleccionar todos los contenedores de menú para el cambio de categoría
    const menuCategoryContainers: NodeListOf<HTMLElement> = document.querySelectorAll('.menu');
    
    // Mapeo de nombres de menú para manejar "Apertivos" (con la corrección ortográfica)
    const menuMap: {[key: string]: string} = {
        'apertivos': 'aperitivos',  // Corregir el caso de "Apertivos" a "aperitivos"
        'aperitivos': 'aperitivos',  // Añadido para asegurar que ambas formas funcionan
        'pasta': 'pasta',
        'pizza': 'pizza',
        'ensaladas': 'ensaladas',
        'postres': 'postres'
    };
    
    // Agregar evento de clic a cada botón de opción
    optionButtons.forEach((button: HTMLElement) => {
        button.addEventListener('click', function(this: HTMLElement) {
            // Obtener el texto del botón en minúsculas para hacer coincidir con las clases
            const buttonText: string = this.textContent?.toLowerCase().trim() || '';
            
            // Usar el mapeo para obtener el nombre correcto de la clase
            const menuType: string = menuMap[buttonText] || buttonText;
            
            // Ocultar todos los menús primero
            menuCategoryContainers.forEach((container: HTMLElement) => {
                container.style.display = 'none';
            });
            
            // Mostrar el menú correspondiente
            const targetMenu: HTMLElement | null = document.querySelector(`.menu.${menuType}`);
            if (targetMenu) {
                targetMenu.style.display = 'flex';
                // Reinicializar el carrusel después de hacer visible el menú
                setTimeout(() => setupMenuCarousel(targetMenu), 0);
            }
            
            // Resaltar el botón seleccionado
            optionButtons.forEach((btn: HTMLElement) => {
                btn.style.backgroundColor = '';
                btn.style.color = '';
            });
            this.style.backgroundColor = '#36392D';
            this.style.color = 'white';
        });
    });
    
    // Inicializar mostrando el primer menú (aperitivos) por defecto
    optionButtons[0].click();
});

</script>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 90%;
        max-width: 1500px;
        margin: 0 auto;
        padding-bottom: 200px;
    }

    h2 {
        font-size: 3rem;
        color: #36392D;
        font-weight: 800;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    p {
        width: 600px;
        max-width: 90%;
        text-align: center;
        line-height: 1.5rem;
        margin-top: 0;
    }

    .options {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 600px;
        max-width: 90%;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .options span {
        padding: 10px 20px;
        border: 1px solid #0005;
        border-radius: 12px;
        cursor: pointer;
        transition: all 0.2s;
    }

    .options span:hover {
        background-color: #0002;
    }

    .menu {
        display: flex;
        gap: 20px;
        width: 100%;
        align-items: center;
        overflow: hidden;
    }

    svg {
        cursor: pointer;
    }

    .right-arrow {
        transform: rotate(180deg);
    }

    .container-content {
        overflow: hidden;
        width: 80%;
        flex-grow: 1;
    }

    .content {
        display: flex;
        gap: 20px;
        clip-path: inset(0 0 0 0);
        width: 100%;
    }

    .content span {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .content img {
        object-fit: cover;
        height: 400px;
        width: 300px;
        margin-bottom: 10px;
    }

    @media screen and (max-width: 1400px) {
        .content span {
            width: 250px;
        }

        .content img {
            height: 300px;
            width: 250px;
        }
    }

    @media screen and (max-width: 930px) {
        .content span {
            width: 200px;
        }

        .content img {
            height: 250px;
            width: 200px;
        }
    }

    @media screen and (max-width: 800px) {
        svg {
            display: none !important;
        }

        .content {
            overflow-x: scroll;
            padding-bottom: 20px;
        }

        .options {
            gap: 10px;
        }
    }
</style>